/*  
    AnylabelWP Custom WP Social Ninja CSS
*/

/* Global Modifications */

/* Hide Support, Testimonials, Notifications links */
a[href="#/support"],
a[href="#/testimonials"],
a[href="#/notifications"] {
    display: none !important;
}

/* Hide Upgrade to Pro button */
a.wpsr_buy_pro_btn_primary, 
a.wpsr_buy_pro_tab {
    display: none !important;
}

/* Hide the link at footer of plugin pages */
#footer-left {
    display: none;
}
