/*  
    Fluent Forms CSS
*/

/* Wrapper properties for new Fluent SMTP logo */
/* body.settings-page-fluent-mail .logo {
    width: 100px;  
    height: 100px;  
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* Hide the logo initially, then apply properties to new image */
.ff_header_group img {
    /* max-width: 100%;
    max-height: 100%;
    margin-top: -3em; */
    display: none;  
}

/* Hide the default Support, SMTP, and Pro Updgrade button links */
.ff_menu li:nth-last-child(-n+3) {
    display: none;
}

/* Hide the default Support, SMTP links from sidebar menu */
#toplevel_page_fluent_forms ul li:nth-child(7),
#toplevel_page_fluent_forms ul li:nth-child(9) {
    display: none;
}

/* Hide the Fluent Forms link at footer of plugin pages */
#footer-left {
    display: none;
}
