/*  
    AnylabelWP Custom Fluent Forms CSS
*/

/* Hide the original logo initially */
.ff_header .plugin-name img {
    display: none;
    height: auto; 
}

/* Hide the default Support, SMTP, and Pro Updgrade button links */
.ff_menu li:nth-last-child(-n+3) {
    display: none;
}

/* Hide the Fluent Forms link at footer of plugin settings */
#footer-left {
    display: none;
}

/* Change the default color of Button element*/
.el-button--primary {
    background-color: #000000;
    border-color: #000000;
}

.el-button--primary:hover {
    background-color: #FFFFFF;
    color: #000000;
    border-color: rgb(237, 237, 237);
}

/* Change the color of menu element*/
.ff_menu .active .ff_menu_link {
    background-color: #000000;
    color: #FFFFFF;
}

.ff_menu_link:hover {
    background-color: #000000;
    color: #FFFFFF;
}

/* Change a link color */ 
a {
    color: #000000;
}

.el-switch__label.is-active {
    color: #000000;
}

/* Remove Review Notifications */
#ff_notice_review_query {
    display: none;
}

/* Remove NEW span on payments */
.ff_new_badge {
    display: none;
}

/* Hide the Double Opt-in */
a[data-hash="double_optin_settings"] {
    display: none;
}

/* Pagination Color */
.el-pagination.is-background .el-pager li:not(.disabled).active {
    background-color: #000000;
}

/* Input element border color */
input[type=color]:focus,input[type=color]:hover,input[type=date]:focus,input[type=date]:hover,input[type=datetime-local]:focus,input[type=datetime-local]:hover,input[type=datetime]:focus,input[type=datetime]:hover,input[type=email]:focus,input[type=email]:hover,input[type=month]:focus,input[type=month]:hover,input[type=number]:focus,input[type=number]:hover,input[type=password]:focus,input[type=password]:hover,input[type=search]:focus,input[type=search]:hover,input[type=tel]:focus,input[type=tel]:hover,input[type=text]:focus,input[type=text]:hover,input[type=time]:focus,input[type=time]:hover,input[type=url]:focus,input[type=url]:hover,input[type=week]:focus,input[type=week]:hover,textarea:focus,textarea:hover {
    border-color: #000000!important
}

.el-select-dropdown__item.selected {
    color: #000000;
}
