/*
 * AnylabelWP General Admin Styles
 */

/* Button class */
.anylabelwp-button {
    display: inline-block;
    padding: 10px 15px;
    background-color: #0073aa;
    color: #ffffff;
    text-decoration: none;
    border-radius: 3px;
}

.anylabelwp-button:hover {
    background-color: #005177;
}

/* Settings sections */
.anylabelwp-settings-section {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border: 1px solid #e5e5e5;
}

/* Tabs */
.tab-content {
    margin-top: 20px;
}

/* Remove WordPress Icon in admin bar */
li#wp-admin-bar-wp-logo.menupop {
    display: none;
}

/* Remove Thank you for using WordPress */
span#footer-thankyou {
    display: none
}

/* Removes version number */
p#footer-upgrade.alignright {
    display: none;
}


/* You can add more general admin styles here */
