/*  
    AnylabelWP Custom Fluent CRM CSS
*/

.fluentcrm_menu_logo_holder img {
    display: none;
}

/* Hide the default Pro Updgrade button link */
ul.fluentcrm_menu li:last-child {
    display: none;
}

/* Hide the link at footer of plugin settings */
#footer-left {
    display: none;
}
