/*  
    AnylabelWP Custom Fluent CRM CSS
*/

/* Hide the default logo on page load until the JS fires*/
.fluentcrm_menu_logo_holder img {
    display: none;
}

/* Hide the default Reports button link on main header */
ul.fluentcrm_menu li.fluentcrm_item_reports {
    display: none;
}

/* Hide the default Pro Updgrade button link on main header*/
ul.fluentcrm_menu li:last-child {
    display: none;
}

/* Hide the knowledge base icon */
span.dashicons.dashicons-welcome-learn-more {
    display: none;
}

/* Hide the default Dynamic Sequences link in deafult header Contact submenu */
.fluentcrm_menu_item.fluentcrm_item_contacts .fluentcrm_submenu_items a[href*="/contact-groups/dynamic-segments"] {
    display: none !important;
}

/* Hide the default Campaigns and Sequences links in default header Campaigns submenu */
.fluentcrm_menu_item.fluentcrm_item_campaigns .fluentcrm_submenu_items a[href*="/email/recurring-campaigns"],
.fluentcrm_menu_item.fluentcrm_item_campaigns .fluentcrm_submenu_items a[href*="/email/sequences"] {
    display: none !important;
}

/* Hide the dynamic submenu header link*/
ul.fc_segment_menu li.fc_item_dynamic_segments {
    display: none;
}

/* Hide dashboard widgets */ 
.el-col.el-col-24.el-col-sm-24.el-col-md-8.el-col-lg-6 > div:nth-last-child(-n+3) {
    display: none;
}

/* Hide the Smart Links link in Settings submenu*/
.el-col.el-col-5 ul.el-menu li:nth-child(5),
.el-col.el-col-5 ul.el-menu li:nth-child(7),
.el-col.el-col-5 ul.el-menu li:nth-child(8),
.el-col.el-col-5 ul.el-menu li:nth-child(9),
.el-col.el-col-5 ul.el-menu li:nth-child(10) {
    display: none !important;
}

/* Hide the link at footer of plugin settings */
#footer-left {
    display: none;
}
