/*  
    Fluent SMTP CSS
*/

/* Wrapper properties for new Fluent SMTP logo */
body.settings_page_fluent-mail .logo {
    width: 100px;  
    height: 100px;  
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Hide the logo initially, then apply properties to new image */
body.settings_page_fluent-mail .logo img {
    max-width: 100%;
    max-height: 100%;
    margin-top: -3em;
    display: none;  
}

/* Hide the default Alerts, About, and Documentation page links */
.fluent-mail-navigation li:nth-last-child(-n+3) {
    display: none;
}

/* Hide the Fluent SMTP link at footer of plugin pages */
#footer-left {
    display: none;
}

/* Hide the default Email Test form */
.el-form.el-form--label-top > p {
    display: none;
}

form.el-form.el-form--label-left {
    display: none;
}
